.main {
  background-color: #06171b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn_contar {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: solid 1px transparent;
  border-radius: 4px;
  color: #ffffff;
  background-color: red;
  height: 40px; 
  width: 150px; 
  margin: 10px 0; 
  font-size: 16px; 
}

.btn_contar:hover {
  background-color: darkred;
}

.btn_decremento {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: solid 1px transparent;
  border-radius: 4px;
  color: #ffffff;
  background-color: rgb(88, 13, 187);
  height: 40px; 
  width: 150px; 
  margin: 10px 0; 
  font-size: 16px; 
}
.btn_decremento:hover {
  background-color: rgb(114, 179, 30);
}